body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #FFFACD; Lemon Chiffon background */
    background-color: #f9f9fa;
}

main > section, footer {
    text-align: center;
}

main > section {
    padding: 50px 20px;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}


.cta-button:hover {
    background-color: #555;
}

footer {
    padding: 20px 0;
    text-align: center;
    font-size: 1.2em;
}

nav {
    background-color: #556B2F;
    color: #FFF;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav #logo {
    height: 50px;
}

nav #nav-links a {
    color: #FFF;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 20px;
    background-color: #8FBC8F;
}

#mission-statement-section {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

#mission-statement {
    flex: 3;
}

#image-gallery {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 20px;
}

#image-gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

h1 {
    color: #556B2F;
    font-size: 3em;
    margin: 0;
}

.cta-button, .cta-button:hover {
    display: inline-block;
    color: #FFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
}

.cta-button {
    background-color: #6B8E23;
}

.cta-button:hover {
    background-color: #9ACD32;
}

.card-section {
    display: flex;
    justify-content: center;
}

.card, .card:hover {
    display: inline-block;
    background-color: #FFFFFF;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card p {
    padding: 15px;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

#locations {
    text-align: center;
}

.volunteer-cta, .volunteer-cta .cta-button.volunteer {
    text-align: center;
    margin-top: 40px;
}

.volunteer-cta {
    padding: 20px;
    background-color: #f4f4f4;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.cta-button.volunteer {
    background-color: #FF4500; /* A bright color for volunteer CTA */
    padding: 15px 30px;
    font-size: 20px;
}

/* Event Card Styling */
.event-card {
    display: flex;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.event-image  {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.event-content {
    padding: 20px;
    background-color: #ffffff;
    flex-grow: 1;
}

.event-content h2 {
    margin-top: 0;
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
    .event-card {
        flex-direction: column;
    }

    .event-image img {
        width: 100%;
    }
}

.event-info {
    margin: 20px;
}



.event-card {
    background-color: #c4d0e3;
    padding: 20px;
    border-radius: 2px;
}

